.root
    header#qa-header.header
        img.header__logo
        .header__text
    
    main.main#qa-main
        form#qa-form.form
            input#qa-form-input.form__input(automation-id='birthday-input', text-mask='birthday', autocomplete='off', placeholder='ДД.ММ.ГГГГ', type='text', name='birthday', required, autofocus)
        button#qa-button.form__button Нажать

    footer.footer
        .footer__text