<div class="root">

  <ul class="list" *ngIf="tasks.length > 0">
    <li *ngFor="let task of tasks" class="list-item">

      <div class="item-col item-col--title">
        {{task.title}}
      </div>

      <div class="item-col item-col--description">
        {{task.description}}
      </div>

      <input class="item-col item-col--is-done" (onChange)="updateTask.emit(task)" type="checkbox" name="isDone" [value]="task.isDone">

      <button class="item-col item-col--delete" (click)="deleteTask.emit(task.id)">Удалить</button>
    </li>
  </ul>

</div>